@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: auto;
  padding: auto;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins',sans-serif;
}
:root{
  --bacgkround: #d1deec;
  --foreground: #f1f3f5;
  --white: #fff;
  --black: #000;
  --grey: #6e6e6e63;
  --shadow: #000;
  --border: #cfcfcf;
}
body{
  background: var(--background);
  -webkit-text-size-adjust:100%;
  -webkit-tap-highlight-color: #3a78ffec;
}
button:focus,
input:focus{
  border: none;
  outline: none;
}
h1,h2,h3,h3,h4,h5,h6,b{
  color:var(--black);
}
a:focus, a:hover{
  text-decoration: none;
  color: inherit;
}
/*header section style start*/
header{
  width: 100%;
  height: 150px;
  align-items: center;
  justify-content: center;
}
.header-container{
    position: fixed;    /* အပေါ်မှာအမြဲကပ် */
    top: 0; left: 0; right: 0;
    height: 64px;
    background: white;
    border-bottom: 1px solid #e5e7eb;
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    padding: 0 16px;
    z-index: 1000;      /* အပေါ်ဆုံးပြစေမယ် */
    box-shadow: 0 2px 5px 0 var(--shadow);
}
.header-wrapper{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 0 8px;
  justify-content: space-between;
}
.logobox{
  width:7%;
}
.logobox img{
  width: 60px;
  position: relative;
  right: 30px;
}
.searchbox{
    width: 150px;        /* အကျယ် */
    height: 28px;        /* အမြင့် */
    padding: 4px 8px;    /* အတွင်းအကျယ် */
    font-size: 14px;     /* အထဲမှာစာအရွယ် */
    border: 1px solid #ccc;
    border-radius: 50px;
}
.iconbox1{
  width: 25%;
  display: flex;
  justify-content: space-between;
  padding:0 25px;
  border-right: 2px solid var(--border);
}
.iconbox2{
  width: 25%;
  display: flex;
  justify-content: space-between;
  padding:0 25px;
  position: relative;
}
.searchbox input{
  padding: 15px 45px 15px 15px;
  border-radius: 50px;
  width:100%;
  background: var(--foreground);
  border: none;
  box-shadow: 0 2px 5px 0 var(--shadow);
  color: var(--black);
}
.searchbox i{
  position: absolute;
  right: 20px;
  top: 19px;
  color: var(--grey);
  cursor: pointer;
  transition: .3s;
}
.searchbox i:hover{
  color: #1877f2;
}
.iconbox1 i,
.icombox2 i{
  font-size: 20px;
  background: transparent;
  padding: 10px;
  border-radius: 10px;
  color: #769bcb;
  transition: .4s;
}
.iconbox1 i:hover,
.iconbox2 i:hover{
  background:#1877f2;
  color:#d1deec;
  cursor: pointer;
}
.iconbox2 label{
  width: 45px;
  height:45px;
  overflow: hidden;
  border-radius: 50px;
}
.iconbox2 label img{
  width: 100%;
}
.iconbox2 .fa-caret-down{
  position: absolute;
  right: 0;
  font-size: 16px;
  top:7px;
}
.iconbox2 .fa-caret-down:hover{
  background: transparent;
}

/*header section style end*/

/*home section start*/
.home{
  display: flex;
  float: left;
}
.container{
  width:100%;
}
.home-wrapper{
  width:100%;
  display: flex;
  justify-content: space-between;
}
.home-left{
  width:60%;
  background: var(--white);
  box-shadow:0 2px 5px 0 var(--shadow);
  border-radius: 20px;
  overflow: hidden;
  flex-direction: column;
  padding:15px;
  margin-bottom: 10px;
}
.profile{
  width: 100%;
  height:50px;
  overflow: hidden;
  border-radius:10px;
  display:flex;
  align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
}
.profile img{
  width:40px;
  float:left;
  margin-right:8px;
  border-radius:50px;
}
.profile h3{
  font-size: 16px;
  color: var(--black);
  text-transform: capitalize;
}
.pages,.group,.game{
  width:100%;
  display:flex;
  flex-direction:column;
  margin-bottom:30px;
}
.mini-heading{
  text-transform: uppercase;
  color: var(--grey);
  margin-bottom:15px;
}
.pages label,
.group label,
.game label{
  margin-bottom:15px;
  display:flex;
  align-items:center;
  cursor:pointer;
  }
.pages lavel img,
.group label img,
.game label img{
  width:35px;
  margin-right: 8px;
  box-shadow:0 2px 5px 0 var(--shadow);
  padding:5px;
  border-radius:8px;
}
.pages label span,
.group label span,
.game label span{
  color: var(--grey);
  font-size: 14px;
}
.see-more-btn{
  padding:8px;
  background: var(--white);
  border:none;
  box-shadow:0 2px 6px 0 var(--shadow);
  border-radius:50px;
  color:#4575b3;
  font-weight:600;
  font-size:15px;
  margin-top:10px;
  transition:.4s;
}
.see-more-btn i{
  font-size:12px;
  margin-left:5px;
}
.see-more-btn:hover{
  background: #f1f3f5;
  box-shadow:0 5px 6px 0 #76767663;
  cursor:pointer;
}
.explore{
  display:flex;
  flex-direction:column;
}
.explroe a{
  color:#4575b3;
  margin-bottom:15px;
  font-weight:600;
}
.explore a:hover{
  color:#1877f2;
}
.explore a i{
  margin-right: 10px;
  width: 25px;
  height: 25px;
  box-shadow: 02px 5px 0 var(--shadow);
  border-radius:8px;
  text-align:center;
  line-height:25px;
  transition:.4s;
  
}
.explore > div{
  display:flex;
  align-items:center;
  margin-bottom:15px;
  font-weight:600;
  color:#4575b3;
}
.darkTheme{
  width: 40px;
  height: 24px;
  background: #4547b3;
  margin-right: 12px;
  border-radius: 50px;
  position: relative;
  display: flex;
  align-items:center;
  cursor:pointer;
}
.darkTheme span{
  position:absolute;
  width: 16px;
  height: 16px;
  background: 16px;
  border-radius: 50px;
  left:4px;
  transition: .5s;
}
/**/
/*home section end*/