/*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  grid-template-rows: 1fr auto; /* Center div + Footer */
  
  /*justify-content: bottom;
  align-items: center;
  background-color: #f4f4f9;
  height: 100vh;
  margin:0;
}
div{
  min-width: 110%;
  height: 240%;
}
.container h1{
  color: purple;
  font-size: 2rem;
  margin-bottom: 10px;
}
/* div signup-popups
.card{
  min-width: 350px;
  height: 225px;
  position: absolute;
  top: 25%;
  left: 44%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
}/*form / Sign Up form style*
.signup-form input{
  width: 300px;
  padding: 10px;
  margin: 10px 0;
  border-radius: 12px;
  border: 2px solid rgba(98, 77, 165, 1);
  font-size: 1.3rem;
}
.signup-form input:focus{
  border-color: rgba(103, 0, 192, 1);
  outline: none;
}
input:valid {
  border: 2px solid green;
}
input:invalid {
  border: 2px solid red;
}
/*div container
.container{
  background-color: #fff;
  border-radius: 20px;
  padding: 40px;
  max-width: 400px;
  width: 100px;
  text-align: center;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);;
}
.container p{
  font-size: 1rem;
  color: #6e6e73;
  margin-bottom: 100px;
}
/*button style
.btn:hover {
    background-color: #005bb5;
}
/*submit button start
.btn{
  background-color: rgba(15, 60, 228, 1);
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  border: none;
  padding: 15px;
  width: 300px;
  margin-bottom: 10px;
  border-radius: 15px;
}
.btn2 {
  background-color: #727A83;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  border: none;
  padding: 15px;
  width: 300px;
  margin-bottom: 10px;
  border-radius: 15px;
}
/*submit button end

.container input {
  padding-right: 100px; /* Space for the toggle button
}
.terms {
  font-size: 0.8rem;
  color: #6e6e73;
  margin-top: 15px;
}
a{
  color: #007aff;
  text-decoration: none;
}
.terms a{
  color: #007aff;
  text-decoration: none;
}

/*footer section

footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  background: rgba(21, 28, 73, 1);
  font-size: 200%;
  color: #fff;
  padding: 50px 20px;
  
}
footer a{
  color: #fff;
  text-decoration:none;
}
.container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}*/

*{
  margin: 0; padding: 0; box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
  background: #eef8ff;
}

/*card start*/
a{
  text-decoration: none;
}
h1 {
  font-size: 45px;
  font-weight: bolder;
  background: linear-gradient(to right, #f32170,
  #ff6b08, #cf23cf, #eedd44);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
}
.card {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
}
.card-container{
  background-color: #fff;
  border-radius: 20px;
  padding: 40px;
  text-align: center;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);;
}
/*card end*/
/*signup input start*/
.signup-form input{
  width: 360px;
  padding: 10px;
  margin: 10px 0;
  border-radius: 15px;
  border: 2px solid rgba(221, 0, 167, 1);
  font-size: 1.3rem;
border-color: linear-gradient(to right, rgba(0, 68, 255, 1), lightgreen);

}
.signup-form input:focus{
  border-color: rgba(103, 0, 192, 1);
  outline: none;
}
input:valid {
  border: 2px solid green;
}
/*input:invalid {
  border: 2px solid red;
}*/
/*signup input end*/
/*btn start*/
.btn{
  background-color: rgba(15, 60, 228, 1);
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  border: none;
  padding: 15px;
  width: 300px;
  margin-bottom: 10px;
  border-radius: 15px;
}
.btn2 {
  background-color: #727A83;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  border: none;
  padding: 15px;
  width: 300px;
  margin-bottom: 10px;
  border-radius: 15px;
}
/*btn end*/
footer{
  width: 100%;
  position: absolute;
  bottom: 0;
  background: #25262A;
  color: #fff;
  padding: 50px 20px;
  background: linear-gradient(to right, #001CBE, #C80073);
}
.container {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}






