*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Sans-serif';
  background-image: url(img.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-size: 100% 100%;
  background-color: #CBCBCB;
  color: #fff;
}
/*Card start*/
div a{
    color: #000;
    text-decoration: none;
}
.container{
  background-color: #fff;
  padding: 40px;
  left: 350px;
  width: 400px;
  text-align: center;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);;
}
.container {
  position: relative;
  display: inline-block;
    
}
.container input {
  padding-right: 50px; /* Space for the toggle button */
}
.signup{
 top: 200%;
 left: 300%;
 justify-content: center;
 align-items: center;
 border-radius: 30px;
 justify-content: center;
 align-items: center;
    
}
.signup-form input{
  width: 300px;
  padding: 15px;
  margin: 10px 0;
  border-radius: 20px;
  border: 1px solid #d2d2d7;
  font-size: 1.3rem;
}
.signup-form input:focus{
  border-color: #d450e6;
  outline: none;
}
/*Card end*/
/*button style*/
.btn:hover {
    background-color: #005bb5;
}
.btn{
  background-color: #007aff;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  border: none;
  padding: 15px;
  width: 300px;
  margin-bottom: 10px;
  border-radius: 15px;
}
/*btn end*/
/*footer {
    margin-top: auto;
    color: #000;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding: 25px 0;
    background-color: #3E0062;
    background: linear-gradient(to right, #00093c, #2d0b00);
}*/
footer{
  width: 100%;
  position: absolute;
  bottom: 0;
  background: #25262A;
  color: #fff;
  padding: 50px 20px;
  background: linear-gradient(to right, #00093c, #2d0b00);
}
.container {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}